# Face detection in a image

#### NASSE A. Martin

#   
#   
### 1. Import packages

In [6]:
import findspark
findspark.init()
findspark.find()
from pyspark.sql import SparkSession

#   
#   
### 2. Initiate a spark session

In [8]:
spark= SparkSession.builder\
    .appName("read data from csv").config("spark.some.config.option")\
    .getOrCreate()

#   
#   
### 3. Read data from CVF file

In [13]:
# read csv data using read.format
df_rdd = spark.read.format("com.databricks.spark.csv")\
                          .options(header="true",
                                 inferschema="true",delimiter="\t")\
                            .load("titanic.csv")

# Display the first 5 rows
df_rdd.show(5)

In [15]:
# read csv data using read.csv
df_rdd = spark.read.csv("titanic.csv",
                       header=True,
                       inferSchema=True,
                       sep="\t")

# Display the first 5 rows
df_rdd.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

#   
#   
### 4. Read data from json file

In [28]:
# read csv data using read.csv
df_rdd = spark.read.json("titanic.json")

# Display the first 5 rows
df_rdd.show(5)

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
|22.0| null|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|       0|       A/5 21171|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|       1|        PC 17599|
|26.0| null|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|       1|STON/O2. 3101282|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|       1|          113803|
|35.0| null|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|       0|          373450|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
only showing top 5 rows